<section>
  <div class="container informations">
    <div class="logo d-flex-center">
      <img src="assets/images/team-logo.jpg" alt="logo" />
    </div>
    <div class="desc">
      <div class="name">All iT Team</div>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
        asperiores molestias id quas autem tempore officia! Voluptatem debitis
        quod accusantium voluptates maiores fugiat sunt aliquid eveniet
        incidunt, accusamus consectetur modi. Nam earum explicabo laboriosam
        aspernatur facilis harum voluptas sequi. Odit, repellendus nihil! Ex
        inventore soluta nulla eveniet perferendis nostrum quis, ducimus nobis!
        Cupiditate quaerat fugit reprehenderit quos. Explicabo veniam molestias,
        atque enim maiores sit maxime! Neque, tempore. Quasi dicta, nulla
        debitis reprehenderit harum autem eos, corporis similique quo possimus
        maxime repudiandae quae amet. Ullam alias rem iusto libero, sint quae
        ducimus odio est tempora illo, corrupti dolore, quod nulla nesciunt?
      </p>
    </div>
  </div>
</section>
