<section class="home-section-welcome">
  <div class="container d-flex-center">
    <div class="block-1" data-aos="fade-right" data-aos-duration="1000">
      <div class="title d-flex-center">Welcome to Stadium Online Book</div>
      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ea,
        architecto a ab praesentium doloremque. Lorem, ipsum dolor.
      </div>
      <a
        class="example-ripple-container mat-elevation-z4"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
        (click)="scrollDown()"
        class="more d-flex-center"
        ><span class="text">More...</span><span class="effect"></span
      ></a>
    </div>
    <div class="block-2" data-aos="fade-left" data-aos-duration="1000">
      <img src="assets/images/ball.jpg" alt="" />
    </div>
    <img class="ball-1" src="assets/images/ball-sm.png" alt="" />
    <img class="ball-2" src="assets/images/ball-sm.png" alt="" />
    <img class="ball-3" src="assets/images/ball-sm.png" alt="" />
    <img class="ball-4" src="assets/images/ball-sm.png" alt="" />
    <img class="ball-5" src="assets/images/ball-sm.png" alt="" />
    <img class="ball-6" src="assets/images/ball-sm.png" alt="" />
  </div>
</section>
<section class="home-section-about" data-aos="zoom-in-right" data-aos-duration="1000" id="about-page">
  <div class="container d-flex-center">
    <div class="block-1 d-flex-center">
      <img src="assets/images/game.jpg" alt="" />
    </div>
    <div class="block-2">
      <div class="title">What you can <span> Do</span></div>
      <div class="desc">
        <q
          >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
          perferendis itaque non soluta alias vel sit voluptate unde vero
          incidunt? Eum illum excepturi et quas? Deleniti ab doloribus voluptate
          magnam.
        </q>
            </div>
    </div>
  </div>
</section>
